h1 {
    margin:30px; 
    font-size: 30px; 
    font-weight:bold; 
    color:purple; 
    text-align:center; 
}

div {
font-size:25px; 
color:blueviolet; 
text-align:left;
margin-left:42%; 
line-height:40px; 

}